* {
    color: rgb(60, 63, 37);
    background-color: #f9f69e;
}
.navefundo {
    background-color: #f2fadf;
}
.tarefa {
    background-color: bisque;
    border-radius: 8px;
    margin: 15px 15px;
}
main {
    paddin: 5px 0 0 0;
}
.cortaFundo {
    background-color: bisque; 
}
.circulogrid {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
}
.retangulogrid {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.3fr 1fr;
    grid-template-rows: 1fr;
}
.triangulogrid {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.3fr 1fr;
    grid-template-rows: 1fr;
}

.hipogrid {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.3fr 1fr;
    grid-template-rows: 1fr;
}
.dolgrid {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.3fr 1fr;
    grid-template-rows: 1fr;
}
.celciusgrid {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
}
.mediaAgrid {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
    grid-template-rows: 1fr;
}
.mediaBgrid {
    display: grid;
    grid-template-columns:  0.2fr 0.1fr 0.6fr 0.1fr ;
    grid-template-rows: 1fr;
}
.abcgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 1fr;
}
.delta {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.2fr;
    grid-template-rows: 1fr;
}
.bhaskaragrid {
    display: grid;
    grid-template-columns: 0.2fr 0.22fr 1fr 0.2fr 1fr ;
    grid-template-rows: 1fr;
}
.fot {
    list-style: none;
}

